In [0]:
employee_df = spark.read.csv(path="/FileStore/tables/employee.csv",
                             inferSchema=True,
                             sep="|",
                             header=True,
                             quote="'")
employee_df.printSchema()                             
employee_df.display()

root
 |-- col_id: integer (nullable = true)
 |-- col_name: string (nullable = true)
 |-- col_exp: integer (nullable = true)
 |-- col_gen: string (nullable = true)
 |-- col_dob: date (nullable = true)
 |-- col_company: string (nullable = true)
 |-- col_desig: string (nullable = true)
 |-- col_doj: date (nullable = true)
 |-- col_skills: string (nullable = true)
 |-- col_offered_salary: integer (nullable = true)
 |-- col_previous_expected_salary: string (nullable = true)

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_offered_salary,col_previous_expected_salary
101,Agastya,1,M,1987-01-22,Infosys,Developer,2015-01-21,"Hadoop,PySpark,Azure",1500000,"1050000,1100000"
102,Acyuta,2,F,1987-03-29,TCS,Team Lead,2016-01-21,"C,C++,Java",1600000,"1050000,1100000"
103,Anuvrata,1,M,1987-01-22,Infosys,Developer,2017-01-21,"Java,Python,Hadoop",1600000,"1050000,1100000"
null,Bhavika,6,F,1987-01-22,Infosys,Team lead,2015-01-21,"Hadoop,PySpark,Kafka",1700000,null
105,Chitragandha,null,M,1987-01-22,CTS,Developer,null,"C,C++,Java",1200000,"1050000,1100000"
106,Hritika,9,F,1987-01-22,Cisco,Developer,2016-01-21,"C,C++,Java",1900000,"1050000,1100000"
107,Jigyasa,12,M,1987-01-22,Infosys,Team Lead,2005-01-21,"Hadoop,PySpark,Kafka",1700000,"1050000,1100000"
108,Kaveri,4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,"C,PySpark,Azure,AWS",1600000,"1050000,1100000"
109,null,8,M,1987-01-22,null,Developer,2008-01-21,"C,C++,Java",2000000,"1050000,1100000"
110,Vin,null,T,1987-01-22,CTS,Team Lead,2020-01-21,"Hadoop,PySpark,Kafka,Kafka",2200000,"1050000,1100000"

In [0]:
from pyspark.sql.functions import split, col

result_df = (
    employee_df.withColumn("col_skills_array", split("col_skills", ","))
    .drop("col_skills")
    .withColumnRenamed("col_skills_array", "col_skills")
    .withColumn("col_previous_expected_salary_array", split("col_previous_expected_salary",",").cast("array<int>"))
    .drop("col_previous_expected_salary")
    .withColumnRenamed("col_previous_expected_salary_array","col_previous_expected_salary")
)
result_df.printSchema()
result_df.display()

root
 |-- col_id: integer (nullable = true)
 |-- col_name: string (nullable = true)
 |-- col_exp: integer (nullable = true)
 |-- col_gen: string (nullable = true)
 |-- col_dob: date (nullable = true)
 |-- col_company: string (nullable = true)
 |-- col_desig: string (nullable = true)
 |-- col_doj: date (nullable = true)
 |-- col_offered_salary: integer (nullable = true)
 |-- col_skills: array (nullable = true)
 |    |-- element: string (containsNull = false)
 |-- col_previous_expected_salary: array (nullable = true)
 |    |-- element: integer (containsNull = true)

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_offered_salary,col_skills,col_previous_expected_salary
101,Agastya,1,M,1987-01-22,Infosys,Developer,2015-01-21,1500000,"List(Hadoop, PySpark, Azure)","List(1050000, 1100000)"
102,Acyuta,2,F,1987-03-29,TCS,Team Lead,2016-01-21,1600000,"List(C, C++, Java)","List(1050000, 1100000)"
103,Anuvrata,1,M,1987-01-22,Infosys,Developer,2017-01-21,1600000,"List(Java, Python, Hadoop)","List(1050000, 1100000)"
null,Bhavika,6,F,1987-01-22,Infosys,Team lead,2015-01-21,1700000,"List(Hadoop, PySpark, Kafka)",null
105,Chitragandha,null,M,1987-01-22,CTS,Developer,null,1200000,"List(C, C++, Java)","List(1050000, 1100000)"
106,Hritika,9,F,1987-01-22,Cisco,Developer,2016-01-21,1900000,"List(C, C++, Java)","List(1050000, 1100000)"
107,Jigyasa,12,M,1987-01-22,Infosys,Team Lead,2005-01-21,1700000,"List(Hadoop, PySpark, Kafka)","List(1050000, 1100000)"
108,Kaveri,4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,1600000,"List(C, PySpark, Azure, AWS)","List(1050000, 1100000)"
109,null,8,M,1987-01-22,null,Developer,2008-01-21,2000000,"List(C, C++, Java)","List(1050000, 1100000)"
110,Vin,null,T,1987-01-22,CTS,Team Lead,2020-01-21,2200000,"List(Hadoop, PySpark, Kafka, Kafka)","List(1050000, 1100000)"

In [0]:
df_01 = result_df.withColumn(
    "previous_salary", col("col_previous_expected_salary").getItem(0)
).withColumn("expected_salary", col("col_previous_expected_salary").getItem(1))
df_01.display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_offered_salary,col_skills,col_previous_expected_salary,previous_salary,expected_salary
101,Agastya,1,M,1987-01-22,Infosys,Developer,2015-01-21,1500000,"List(Hadoop, PySpark, Azure)","List(1050000, 1100000)",1050000,1100000
102,Acyuta,2,F,1987-03-29,TCS,Team Lead,2016-01-21,1600000,"List(C, C++, Java)","List(1050000, 1100000)",1050000,1100000
103,Anuvrata,1,M,1987-01-22,Infosys,Developer,2017-01-21,1600000,"List(Java, Python, Hadoop)","List(1050000, 1100000)",1050000,1100000
null,Bhavika,6,F,1987-01-22,Infosys,Team lead,2015-01-21,1700000,"List(Hadoop, PySpark, Kafka)",null,null,null
105,Chitragandha,null,M,1987-01-22,CTS,Developer,null,1200000,"List(C, C++, Java)","List(1050000, 1100000)",1050000,1100000
106,Hritika,9,F,1987-01-22,Cisco,Developer,2016-01-21,1900000,"List(C, C++, Java)","List(1050000, 1100000)",1050000,1100000
107,Jigyasa,12,M,1987-01-22,Infosys,Team Lead,2005-01-21,1700000,"List(Hadoop, PySpark, Kafka)","List(1050000, 1100000)",1050000,1100000
108,Kaveri,4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,1600000,"List(C, PySpark, Azure, AWS)","List(1050000, 1100000)",1050000,1100000
109,null,8,M,1987-01-22,null,Developer,2008-01-21,2000000,"List(C, C++, Java)","List(1050000, 1100000)",1050000,1100000
110,Vin,null,T,1987-01-22,CTS,Team Lead,2020-01-21,2200000,"List(Hadoop, PySpark, Kafka, Kafka)","List(1050000, 1100000)",1050000,1100000

In [0]:
from pyspark.sql.functions import array_contains
df_01.filter(array_contains(col("col_skills"),"PySpark")).select("col_name").display()

col_name
Agastya
Bhavika
Jigyasa
Kaveri
Vin

In [0]:
from pyspark.sql.functions import array_distinct
df_01.select("col_name",array_distinct(col("col_skills"))).display()

col_name,array_distinct(col_skills)
Agastya,"List(Hadoop, PySpark, Azure)"
Acyuta,"List(C, C++, Java)"
Anuvrata,"List(Java, Python, Hadoop)"
Bhavika,"List(Hadoop, PySpark, Kafka)"
Chitragandha,"List(C, C++, Java)"
Hritika,"List(C, C++, Java)"
Jigyasa,"List(Hadoop, PySpark, Kafka)"
Kaveri,"List(C, PySpark, Azure, AWS)"
null,"List(C, C++, Java)"
Vin,"List(Hadoop, PySpark, Kafka)"

# Assigments
1. Retrive all employee with skills as PySpark and Kafka
2. Create a new column which display the total number of skills
3. Retrive all employees whose expected salary is lesss then actual salary